<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      font-family: arial, sans-serif;
    }
    h1 {
      font-size: 40px;
    }
    body {
      padding: 0;
      margin: 0;
      padding: 0 25px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    th {
      font-size: 20px;
    }
    td{
      font-size: 14px;
      padding: 15px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <title>Handlebars exemple</title>
</head>
<body>
  {{{ body }}}
</body>
</html>